/* body {
    display: flex;
    flex-wrap: wrap;
} */

.contenedor {
    display: flex;
}

div {
    height: 75px;
}

.extremos {
    width: 250px;
    background-color: #d9c656;
}

.medio {
    flex-grow: 2;
    background-color: darkgreen;
}

.extremos2 {
    width: 200px;
    background-color: #d9c656;
}

.medio2 {
    flex-grow: 1;
    background-color: darkgreen;
}

.medio3 {
    flex-grow: 1;
    background-color: aquamarine;
}

.div1{
    background-color: #d9c656;
    flex-grow: 1;
}

.div2{
    background-color: darkgreen;
    flex-grow: 1;
}

.div3{
    background-color: aquamarine;
    flex-grow: 1;
}

.div4{
    background-color: #d9c656;
    flex-grow: 2;
}

.div5{
    background-color: darkgreen;
    flex-grow: 1;
}

.div6{
    background-color: aquamarine;
    flex-grow: 1;
}

.div7{
    background-color: #d9c656;
    flex-grow: 2;
}

.div8{
    background-color: darkgreen;
    flex-grow: 2;
}

.div9{
    background-color: aquamarine;
    flex-grow: 6;
}

/* 1) flex-grow

Agregá 3 divs. Hacé que el último div ocupe 60% del ancho de la pantalla, y los 2 primeros un 20% cada uno. */